@charset "utf-8";
/* CSS Document */
/*product*/
.product{ border-bottom:rgba(68,168,242,0.3) 2px solid; 
          padding-bottom:20px; 
		  padding-top:60px; 
		  position:relative;
}
.product h1{ text-align:center; 
             font-size:24px; 
			 color:#4c4c4c; 
			 font-weight:normal;
}
.product p{ text-align:center;}
.product span{ float:right; 
               margin-right:220px; 
			   margin-top:-36px;
}
.blue_fast{ width:95px; 
            height:6px; 
			background-color:#44a8f2; 
			position:absolute; 
			bottom:-4.5px; 
			left:50%; 
			margin-left:-47px; 
			z-index:1;
}
